<div class="header-title">
    <h1 class="games-header">games</h1>
</div>
<div class="content">
    <div class="main-content"> 
        <div class="Hero">
                <div class="Hero-slot Hero-slot--full">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/games2016-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-games">games</p>
                            </div>
                            <h2 class="Hero-heading">Top 5 Board Games of My Heart</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">I don't play very many.</p>
                        </div>
                    </a>
                </div>
                <div class="Hero-slot Hero-slot--half">
                    {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/it-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>  
                            <h2 class="Hero-heading">Does IT Deserve to be the It Horror Movie of 2017?</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">Short answer: no.</p>
                            </div>
                    </a>      --}}
                </div>
                <div class="Hero-slot Hero-slot--half">
                    {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/johncho-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-culture">culture</p>
                                </div>
                            <h2 class="Hero-heading">The Future is the Asian Lead</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">A man can dream.</p>
                        </div>
                    </a> --}}
                </div>
            </div>
            <div class="Hero-two">
                <div class="Hero-slot Hero-slot--half">
                    {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/games2016-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-games">games</p>
                            </div>
                            <h2 class="Hero-heading">Top 5 Board Games of My Heart</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">I don't play very many.</p>
                        </div>
                    </a> --}}
                </div>
                <div class="Hero-slot Hero-slot--half">
                    {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/it-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies">movies</p>
                            </div>
                            <div class="post-category">
                                <p class="cat-reviews">reviews</p>
                            </div>
                            <h2 class="Hero-heading">Does IT Deserve to be the It Horror Movie of 2017?</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">Short answer: no.</p>
                        </div>
                    </a> --}}
                </div>
            </div>
            <div class="main-lists">
                <div class="latest-posts">
                    <p class="lists-headings">latest posts</p>
                    <div class="latest-first">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/ww-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Is the Summer Season that Important Anymore?</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Probably, but I need things to write about.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="latest-second">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/swipe-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Watching Movies on Your Phone</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Or something.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="latest-third">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/johncho-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Let's Pretend This Isn't John Cho</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">For demonstration purposes</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="latest-fourth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/handmaids-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">This Article is About a Movie</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Not another reused image movie.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="latest-fifth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/ww-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Another Wonder Woman Thinkpiece</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Humor me, here.</p>
                            </div>
                        </a> --}}
                    </div>
                </div>    
                <div class="latest-reviews">
                    <p class="lists-headings">latest reviews</p>
                    <div class="reviews-first">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/columbus-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Columbus is My Movie of the Year</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">So delicately deliberately delicate.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="reviews-second">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Logan Lucky</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="reviews-third">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/casual-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Let's Pretend This is a Movie Review</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Just for kicks.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="reviews-fourth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Paterson</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good, too.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="reviews-fifth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/got-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Lord of the Rings</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">I guess.</p>
                            </div>
                        </a> --}}
                </div>
                </div>
                <div class="favorites">
                    <p class="lists-headings">favorites</p>
                    <div class="favorites-first">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/wonder-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Wonder Woman is an Important Movie</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Not really that great, though.</p>
                            </div>
                        </a>      --}}
                    </div>
                    <div class="favorites-second">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/theater-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Let's Talk About the Movie-Going Experience</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">This ain't your mama's house.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="favorites-third">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/record-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Songs in Movies 2017</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">There were some.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="favorites-fourth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/goodplace-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Top 5 Movies of 2017</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">So far. In my opinion.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="favorites-fifth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/babydriver-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Ranking Summer Movies</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Because why not?</p>
                            </div>
                        </a> --}}
                    </div>
                </div>
            </div>
    </div>
</div>