<div class="content">
    <div class="main-content" > 
        <div class="featured-content">
            <div class="featured-full">
                <a href="/2017/09/05/the-spider-inside-the-man">
                    <div class="Hero-image" style="background-image: url('../images/header/articles/spiderman-image.png');">
                    </div>
                    <div class="Hero-headingContainer">
                        <div class="post-category">
                            <p class="cat-movies"><a href="/movies">movies</a></p>
                        </div>
                        <h2 class="Hero-heading">The Spider Inside the Man</h2>
                        <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                        <p class="post-tease">He's giving all that he can.</p>
                    </div>
                </a>
            </div>
            <div class="vert-border"></div>
            <div class="hori-border"></div>
            <div class="featured-half">
                <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                    <div class="Hero-image" style="background-image: url('../images/header/articles/rickmorty-image.png');">
                    </div>
                    <div class="Hero-headingContainer">
                        <div class="post-category">
                            <p class="cat-tv"><a href="/tv">tv</a></p>
                        </div>
                        <h2 class="Hero-heading"><i>Rick and Morty</i>: The Unquestioned Answers</h2>
                        <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                        <p class="post-tease">There are more than two.</p>
                    </div>
                </a>
            </div>
            <div class="featured-half">
                <a href="/2017/09/11/mondos-35th-anniversary-e.t.-poster-is-out-of-this-world">
                    <div class="Hero-image" style="background-image: url('../images/header/articles/kishibashi-image.png');">
                    </div>
                    <div class="Hero-headingContainer">
                        <div class="post-category">
                            <p class="cat-music"><a href="/music">music</a></p>
                        </div>
                        <h2 class="Hero-heading">Every Kishi Beings with K</h2>
                        <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                        <p class="post-tease">K. Ishibashi, that is.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="mobile-featured">
            <div class="featured-half">
                <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                    <div class="Hero-image" style="background-image: url('../images/header/articles/games2016-image.png');">
                    </div>
                    <div class="Hero-headingContainer">
                        <div class="post-category">
                            <p class="cat-culture"><a href="/culture">culture</a></p>
                            <p class="cat-games"><a href="/culture">games</a></p>
                        </div>
                        <h2 class="Hero-heading">Top 5 Board Games of My Heart</h2>
                        <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                        <p class="post-tease">I don't play very many.</p>
                    </div>
                </a>
            </div>
            <div class="featured-half">
                <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                    <div class="Hero-image" style="background-image: url('../images/header/articles/it-image.png');">
                    </div>
                    <div class="Hero-headingContainer">
                        <div class="post-category">
                            <p class="cat-movies"><a href="/movies">movies</a></p>
                            <p class="cat-reviews"><a href="/reviews">review</a></p>
                        </div>
                        <h2 class="Hero-heading"><i>It</i></h2>
                        <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                        <p class="post-tease">Does it deserve all the hype?</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="main-lists">
            <div class="latest-posts">
                <p class="lists-headings">latest posts</p>
                <div class="latest-first">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/games2016-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-culture"><a href="/culture">culture</a></p>
                                <p class="cat-games"><a href="/culture">games</a></p>
                            </div>
                            <h2 class="Hero-heading">Top 5 Board Games of My Heart</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">I don't play very many.</p>
                        </div>
                    </a>
                </div>
                <div class="latest-second">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/swipe-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-culture"><a href="/culture">culture</a></p>
                            </div>
                            <h2 class="Hero-heading">There's More to Relationships than Swiping</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">You're playing a game, idiot.</p>
                        </div>
                    </a>
                </div>
                <div class="latest-third">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/johncho-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                                <p class="cat-culture"><a href="/culture">culture</a></p>
                            </div>
                            <h2 class="Hero-heading">The Future is the Asian Lead</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">A man can dream.</p>
                        </div>
                    </a>
                </div>
                <div class="latest-fourth">
                   <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/handmaids-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                             <div class="post-category">
                                <p class="cat-tv"><a href="/tv">tv</a></p>
                            </div>
                            <h2 class="Hero-heading">There Are Way Too Many Good Shows to Follow</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">I just gave up.</p>
                        </div>
                    </a>
                </div>
                <div class="latest-fifth">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/ww-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                            </div>
                            <h2 class="Hero-heading">Is the Summer Season That Important Anymore?</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">Probably, but I need things to write about.</p>
                        </div>
                    </a>
                </div>
            </div>    
            <div class="latest-reviews">
                 <p class="lists-headings">latest reviews</p>
                <div class="reviews-first">
                        <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/it-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies"><a href="/movies">movies</a></p>
                                    <p class="cat-reviews"><a href="/reviews">review</a></p>
                                </div>  
                                <h2 class="Hero-heading"><i>It</i></h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Does it deserve all the hype?</p>
                            </div>
                        </a>     
                </div>
                <div class="reviews-second">
                     <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/columbus-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Columbus</i></h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">So delicately deliberately delicate.</p>
                        </div>
                    </a>
                </div>
                <div class="reviews-third">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/casual-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-tv"><a href="/tv">tv</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Casual</i></h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">Good show.</p>
                        </div>
                    </a>
                </div>
                <div class="reviews-fourth">
                   <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                             <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Logan Lucky</i></h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">It was pretty good.</p>
                        </div>
                    </a>
                </div>
                <div class="reviews-fifth">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/got-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-tv"><a href="/tv">tv</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Game of Thrones</i>: Season 7</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">That Jon Snow, tho.</p>
                        </div>
                    </a>
            </div>
            </div>
            <div class="favorites">
                 <p class="lists-headings">favorites</p>
                 <div class="favorites-first">
                        <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/wonder-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies"><a href="/movies">movies</a></p>
                                    <p class="cat-culture"><a href="/culture">culture</a></p>
                                </div>
                                <h2 class="Hero-heading"><i>Wonder Woman</i> is an Important Movie</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Not really that great, though.</p>
                            </div>
                        </a>     
                </div>
                <div class="favorites-second">
                     <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/theater-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                                <p class="cat-culture"><a href="/culture">culture</a></p>
                            </div>
                            <h2 class="Hero-heading">Let's Talk About the Movie-Going Experience</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">This ain't your mama's house.</p>
                        </div>
                    </a>
                </div>
                <div class="favorites-third">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/record-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-music"><a href="/music">music</a></p>
                            </div>
                            <h2 class="Hero-heading">Why Don't I Like Any Albums in 2017?</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">This is very disheartening.</p>
                        </div>
                    </a>
                </div>
                <div class="favorites-fourth">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/goodplace-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-tv"><a href="/tv">tv</a></p>
                            </div>
                            <h2 class="Hero-heading">Top 5 Shows of 2017</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">So far. In my opinion.</p>
                        </div>
                    </a>
                </div>
                <div class="favorites-fifth">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/babydriver-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                             <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                            </div>
                            <h2 class="Hero-heading">Ranking Summer 2017 Movies</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">Because why not?</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>  
    {{!-- <div class="media-content"> 
        <div class="twitter-container">
            <div class="twitter-feed"> <a class="twitter-timeline" data-height="-webkit-fill-available" data-theme="dark" href="https://twitter.com/WordsToSong">Tweets by WordsToSong</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="spotify-container">
           <div class="spotify-playlist"> <iframe src="https://open.spotify.com/embed/user/wordstosong/playlist/1dEo9fZCuaciunGZdd5agP" width="100%" height="410px" frameborder="0" allowtransparency="true"></iframe>
        </div>
        </div>
    </div> --}}
</div>    