<div class="header-title">
    <h1 class="reviews-header">reviews</h1>
</div>
<div class="content">
    <div class="main-content"> 
        <div class="featured-content">
                <div class="featured-full">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/it-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>It</i></h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">Does it deserve all the hype?</p>
                        </div>
                    </a>   
                </div>
                <div class="featured-half">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/columbus-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Columbus</i></h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">So delicately deliberately delicate.</p>
                        </div>
                    </a>     
                </div>
                <div class="featured-half">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/casual-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-tv"><a href="/tv">tv</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Casual</i></h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">Good show.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mobile-featured">
                <div class="featured-half">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-movies"><a href="/movies">movies</a></p>
                                <p class="cat-reviews"><a href="/reviews">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Logan Lucky</i></h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">It was pretty good.</p>
                        </div>
                    </a>
                </div>
                <div class="featured-half">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                        <div class="Hero-image" style="background-image: url('../images/header/articles/got-image.png');">
                        </div>
                        <div class="Hero-headingContainer">
                            <div class="post-category">
                                <p class="cat-tv"><a href="/tv">tv</a></p>
                                <p class="cat-reviews"><a href="/review">review</a></p>
                            </div>
                            <h2 class="Hero-heading"><i>Game of Thrones</i>: Season 7</h2>
                            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                            <p class="post-tease">That Jon Snow, tho.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="reviews-lists">
                <div class="movies-reviews">
                    <p class="movies-reviews-heading">movies</p>
                    <div class="movies-reviews-first">
                        <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies"><a href="/movies">movies</a></p>
                                    <p class="cat-reviews"><a href="/reviews">review</a></p>
                                </div>
                                <h2 class="Hero-heading"><i>Logan Lucky</i></h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good.</p>
                            </div>
                        </a>
                    </div>
                    <div class="movies-reviews-second">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/swipe-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Watching Movies on Your Phone</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Or something.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="movies-reviews-third">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/johncho-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Let's Pretend This Isn't John Cho</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">For demonstration purposes</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="movies-reviews-fourth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/handmaids-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">This Article is About a Movie</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Not another reused image movie.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="movies-reviews-fifth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/ww-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Another Wonder Woman Thinkpiece</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Humor me, here.</p>
                            </div>
                        </a> --}}
                    </div>
                </div>    
                <div class="tv-reviews">
                    <p class="tv-reviews-heading">tv</p>
                    <div class="tv-reviews-first">
                        <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/got-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-tv"><a href="/tv">tv</a></p>
                                    <p class="cat-reviews"><a href="/review">review</a></p>
                                </div>
                                <h2 class="Hero-heading"><i>Game of Thrones</i>: Season 7</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">That Jon Snow, tho.</p>
                            </div>
                        </a>
                    </div>
                    <div class="tv-reviews-second">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Logan Lucky</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="tv-reviews-third">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/casual-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Let's Pretend This is a Movie Review</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Just for kicks.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="tv-reviews-fourth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Paterson</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good, too.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="tv-reviews-fifth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/got-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Lord of the Rings</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">I guess.</p>
                            </div>
                        </a> --}}
                    </div>
                </div>
                <div class="music-reviews">
                    <p class="music-reviews-heading">music</p>
                    <div class="music-reviews-first">
                            {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                                <div class="Hero-image" style="background-image: url('../images/header/articles/wonder-image.png');">
                                </div>
                                <div class="Hero-headingContainer">
                                    <div class="post-category">
                                        <p class="cat-movies">movies</p>
                                    </div>
                                    <h2 class="Hero-heading">Wonder Woman is an Important Movie</h2>
                                    <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                    <p class="post-tease">Not really that great, though.</p>
                                </div>
                            </a>      --}}
                    </div>
                    <div class="music-reviews-second">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/theater-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Let's Talk About the Movie-Going Experience</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">This ain't your mama's house.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="music-reviews-third">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/record-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Songs in Movies 2017</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">There were some.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="music-reviews-fourth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/goodplace-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Top 5 Movies of 2017</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">So far. In my opinion.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="music-reviews-fifth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/babydriver-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                </div>
                                <h2 class="Hero-heading">Ranking Summer Movies</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Because why not?</p>
                            </div>
                        </a> --}}
                    </div>
                </div>
                {{!-- <div class="games-reviews">
                    <p class="lists-headings">games</p>
                    <div class="reviews-first">
                            <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/columbus-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Columbus is My Movie of the Year</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">So delicately deliberately delicate.</p>
                            </div>
                        </a>
                    </div>
                    <div class="reviews-second">
                        <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Logan Lucky</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good.</p>
                            </div>
                        </a>
                    </div>
                    <div class="reviews-third">
                        <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/casual-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Let's Pretend This is a Movie Review</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Just for kicks.</p>
                            </div>
                        </a>
                    </div>
                    <div class="reviews-fourth">
                    <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Paterson</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good, too.</p>
                            </div>
                        </a>
                    </div>
                    <div class="reviews-fifth">
                        <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/got-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Lord of the Rings</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">I guess.</p>
                            </div>
                        </a>
                    </div>
                </div> --}}
                <div class="culture-reviews">
                    <p class="culture-reviews-heading">culture</p>
                    <div class="culture-reviews-first">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/columbus-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Columbus is My Movie of the Year</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">So delicately deliberately delicate.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="culture-reviews-second">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Logan Lucky</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="culture-reviews-third">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/casual-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Let's Pretend This is a Movie Review</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">Just for kicks.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="culture-reviews-fourth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/loganlucky-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Paterson</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">It was pretty good, too.</p>
                            </div>
                        </a> --}}
                    </div>
                    <div class="culture-reviews-fifth">
                        {{!-- <a href="/2017/09/11/the-muschiettis-and-the-future-of-stephen-kings-it">
                            <div class="Hero-image" style="background-image: url('../images/header/articles/got-image.png');">
                            </div>
                            <div class="Hero-headingContainer">
                                <div class="post-category">
                                    <p class="cat-movies">movies</p>
                                    <p class="cat-reviews">review</p>
                                </div>
                                <h2 class="Hero-heading">Lord of the Rings</h2>
                                <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                                <p class="post-tease">I guess.</p>
                            </div>
                        </a> --}}
                  </div>
                </div>
            </div>
    </div>
</div>