body {
  background: #f2f2f2;
  margin: 0;
}

header {
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  font-family: 'PT Sans';
  position: relative;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  text-transform: uppercase;
}

.logo {
  display: block;
  position: absolute;
  z-index: 1;
  width: 110px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 12px;
}

.logo-small {
  display: none;
}

.social-headers {
  display: none;
}

.menu {
  padding-top: 50px;
}

.menu ul {
  display: none;
}

.menu a.burger {
  position: absolute;
  right: 0;
  top: 0;
  /* display:block;
  float: right; */
  font-family: arial;
  /* font-weight: 500; */
  font-size: 2.9rem;
  line-height: 3.2rem;
  text-decoration: none;
  color: #000;
  padding: 0 10px;
}

.menu a.burger:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}

.menu.responsive {
  position: relative;
}

.menu.responsive .burger {
  position: absolute;
  right: 0;
  top: 0;
}
.menu.responsive ul {
  float: none;
  display: block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  background: #000;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
}

.navcat {
  font-weight: bold;
  float: left;
}

.navcat li a {
  padding: 0.95em;
}

.navsub li a {
  line-height: 1.7em;
  padding: 0.95em;
  font-size: 14px;
}

li:nth-child(1):hover {
  background-color: #0049b2 ;
  transition: 0.3s;
}

li:nth-child(2):hover {
  background-color: #85000c;
  transition: 0.3s;
}

li:nth-child(3):hover {
  background-color: #007f00;
  transition: 0.3s;
}

li:nth-child(4):hover {
  background-color: #5a008c;
  transition: 0.3s;
}

.navsub li:hover {
  background-color: #444;
  transition: 0.3s;
}

.content {
  border-bottom: 1px solid #d9d9d9;
  margin-top: 20px;
}

.main-content {
  background: #fff;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

/* .featured-first {
  border-right: 1px solid #FFFFFF;
  width: 50%;
  height: 500px;
  float: left;
}

.featured-first-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
} */

.featured-content {
  position: relative;
  overflow: hidden;
}

.vert-border {
  display: none;
}

.hori-border {
  display: none;
}

.featured-full {
  /* border-right: 1px solid #FFFFFF; */
  width: 100%;
  height: 100%;
  max-height: 300px;
  position: relative;
}
.Hero-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.featured-half {
  width: 100%;
  height: 100%;
  max-height:300px;
  position: relative;
}

.Hero-headingContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  float: none;
  z-index: 10;
  padding: 1.25rem;
  }

.post-category {
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
  letter-spacing: 1px;
}

.cat-movies {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#0049b2;
  box-shadow: 1px 1px #000;
}

.cat-tv {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#85000c;
  box-shadow: 1px 1px #000;
}

.cat-music {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#007f00;
  box-shadow: 1px 1px #000;
}

.cat-culture {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#8000aa;
  box-shadow: 1px 1px #000;
}

.cat-games {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#AE4300;
  box-shadow: 1px 1px #000;
}

.cat-books {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#007b82;
  box-shadow: 1px 1px #000;
}

.cat-live {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#8F004F;
  box-shadow: 1px 1px #000;
}

.cat-podcasts {
  display: inline;
  padding: 0.2em 0.3em;
  background-color:#7F7800;
  box-shadow: 1px 1px #000;
}

.cat-reviews {
  display: inline;
  padding: 0.2em 0.3em;
  background-color: #444;
  box-shadow: 1px 1px #000;
}

.Hero-heading {
  clear:both;
  font-family: 'PT Sans';
  color: #fff;
  line-height: 1.5;
  margin: 0;
  padding-top: 5px;
  letter-spacing: 1px;
  text-shadow: 
    1px 1px #000,
    0 0 1px #000;
}

.post-byline {
  padding-bottom: 10px;
  margin: 0;
  font-family: 'PT Sans';
  font-size: 13px;
  color: #d8d8d8;
  text-shadow: 
    1px 1px #000,
    0 0 1px #000; 
}

.post-byline a {
  color: #d8d8d8;
}

.post-author {
  text-transform: uppercase;
}

.post-author:hover {
  color: #EBEBEB;
  transition: 0.3s;
}

.post-tease {
  color: #fff;
  text-shadow: 
    1px 1px #000,
    0 0 1px #000;
  margin: 0;
}
.article-header img {
  width: 100%;
}

.article-info {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.article-info a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family: 'PT Sans';
}


.main-lists {
  display: none;
}
.twitter-container {
  /* height: 340px; */
  margin-top: 20px;
}

.twitter-feed {
  width: 100%;
}

.spotify-container {
  display: none;
}

.footer {
  background-color: #000;
  clear: left;
  width: 100%;
  height: 94px;
  margin: auto;
  padding-top: 15px;
}

.footer p {

  text-align: center;
  color: #fff;
}

/* Pages CSS */

.header-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.page-text {
  padding: 20px;
  height: auto;
  overflow: auto;
}

/* Movies */
.movies-header {
  padding:15px;
  background-color: #0049b2;
}

/* TV */
.tv-header {
  padding: 15px;
  background-color: #85000c;
}

/* Music */
.music-header {
  padding: 15px;
  background-color: #2bad00;
}

/* Games */
/* .games-header {
  padding: 15px;
}  background-color: #B96900; */


/* Culture */
.culture-header {
  padding: 15px;
  background-color: #5a008c;
}

/* Reviews */

.reviews-lists {
  display: none;
}
.reviews-header {
  padding: 15px;
  background-color: #444;
}

/* About */
.about-content{
  background: #fff;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.about-header {
  padding: 15px;
  background-color: #444;
}

.question {
  font-weight: bold;
}
.characters-container {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.character {
  display: inline-block;
  width: 62.5%;
  max-width: 300px;
  padding: 0 20px;
}

.character h1 {
    margin: 5 0 16.75px 0;
}

/* Posts */

.first-paragraph {
  margin-top: 0;
}

.last-paragraph {
  margin-bottom: 0;
}

.post-header-container {
  width: 100%;
  margin: 0 auto;
  height: 50%;
  max-height: 500px;
  position: relative;
} 

.post-header-container h1 {
  font-size: 25px;
}

.post-header-container .post-byline {
  font-size: 15px;
}

.post-header-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.post-text-container {
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.post-text-container p {
  line-height: 1.5;
}


@media only screen and (min-width: 800px) {

  header {
    height: 100px;
    width: 100%;
  }
  
  .logo {
    float: left;
    display: block;
    position: initial;
    width: 200px;
    z-index: initial;
    margin-top: 25px;
    margin-left: 60px
  }
  
  .social-headers {
    height: 32px;
    display: block;
    float: right;
    margin-top: 55px;
    margin-right: 60px;
    
  }
  .social-headers img {
    float: left;
    width: 32px;
    background-color: #000;
  }
  .social-headers a:nth-child(1):hover img {
    background-color: #3b5998;
    transition: 0.3s;
  }
  .social-headers a:nth-child(2):hover img {
    background-color: #00aced;
    transition: 0.3s;
  }
  .social-headers a:nth-child(3):hover img {
    background-color: #32506d;
    transition: 0.3s;
  }
  .social-headers a:nth-child(2) img {
    margin: 0 5px;
  }
  .logo-small {
    display: none;
  }
   nav {
    height: 50px;
    background: #000;
    padding: 0 60px;
    /* max-width: 850px;
    margin: auto;
   margin-top: 100px;  */
  }

  .menu {
    padding-top:0;
  }

  .menu ul {
    display: block;
  } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: none;
  }
  
  .navcat {
    font-weight: bold;
    float: left;
  }

  .navcat li a {
    padding: 0.95em;
  }
  
  .navsub li a {
    line-height: 1.7em;
    padding: 0.95em;
    font-size: 14px;
  }
  /* li a:hover {
    background-color: #111;
  } */

  li:nth-child(1):hover {
    background-color: #0049b2 ;
    transition: 0.3s;
  }

  li:nth-child(2):hover {
    background-color: #85000c;
    transition: 0.3s;
  }

  li:nth-child(3):hover {
    background-color: #007f00;
    transition: 0.3s;
  }

  li:nth-child(4):hover {
    background-color: #5a008c;
    transition: 0.3s;
  }

  /* li:nth-child(5):hover {
    background-color: #B96900;
    transition: 0.3s;
  } 
  
  .li:nth-child(6):hover {
    background-color: #007b82;
    transition: 0.3s;
  }*/
  
  .navsub li:hover {
    background-color: #444;
    transition: 0.3s;
  }
  .menu a.burger {
    display: none;
  }
  .content {
    padding: 0 60px;
    border-bottom: none;
  }

  .main-content {
    height:1600px;
    padding-bottom: 20px;
  }

  .featured-content {
    position: relative;
    overflow: hidden;
  }

  .vert-border {
    display: block;
    position: absolute;
    left: 50%;
    z-index: 1;
    height: 100%;
    width: 2px;
    background: #d9d9d9;
  }

  .hori-border {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    height: 2px;
    width: 100%;
    background: #d9d9d9;
}
  
  .featured-full {
    /* border-right: 1px solid #FFFFFF; */
    width: 50%;
    height: 500px;
    max-height: 500px;
    position: relative;
    float: left;
  }
  .Hero-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .featured-half {
    width: 50%;
    height: 250px;
    float: left;
    position: relative;
  }
  
  .Hero-headingContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    float: none;
    z-index: 10;
    padding: 1.25rem;
    }

  /* .Hero-heading {
    font-family: 'PT Sans';
    color: #fff;
    text-shadow: 1px 1px #000;
    line-height: 1.5;
  } */

  .mobile-featured {
    display: none;
  }
  .main-lists {
    display:block;
    height: 1070px;
    width: 100%;
    margin-top: 20px;
  }
  
  .main-lists .Hero-heading {
    font-size: 18px;
    line-height: 1.2;
  }

  .lists-headings {
    display: inline;
    font-family: 'PT Sans';
    color: #fff;
    background: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0.4em;
    letter-spacing: 2px;
  }
  .latest-posts {
    width: 30.66%;
    height: 100%;
    float: left;
    padding: 0 1% 0 2%;
  }
  .latest-first {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    margin-top: 20px;
  }

  .latest-second, .latest-third, .latest-fourth, .latest-fifth, .reviews-second, .reviews-third, .reviews-fourth, .reviews-fifth, .favorites-second, .favorites-third, .favorites-fourth, .favorites-fifth {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    margin-top: 10px;
  }

  /* .latest-fifth, .reviews-fifth, .favorites-fifth {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    margin-top: 10px;
  } */

  .latest-reviews {
    width: 30.66%;
    height: 100%;
    float: left;
    padding: 0 1% 0 1%;
  }
  .reviews-first {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    margin-top: 20px;
  }

  .favorites {
    width: 30.66%;
    height: 100%;
    float: left;
    padding: 0 2% 0 1%;
  }

  .favorites-first {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    margin-top: 20px;
  }


  .media-content {
    width: 100%;
    height: 450px;
    background: #fff;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
  }

  .twitter-container {
    float: left;
    padding: 20px 1% 20px 2%;
    margin: 0;
    width: 47%;
  }
  
  .twitter-feed {
    width: 100%;
  }

  .spotify-container {
    display: block;
    float: right;
    padding: 20px 2% 20px 1%;
    width: 47%;
  }

  .spotify-playlist {
    width: 100%;
  }

  /* Reviews */

  .reviews-lists {
    display: block;
    margin-top: 20px;
  }

  .movies-reviews-heading {
    display: inline;
    font-family: 'PT Sans';
    color: #fff;
    background: #0049b2;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0.4em;
    letter-spacing: 2px;
  }

  .tv-reviews-heading {
    display: inline;
    font-family: 'PT Sans';
    color: #fff;
    background: #85000c;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0.4em;
    letter-spacing: 2px;
  }

  .music-reviews-heading {
    display: inline;
    font-family: 'PT Sans';
    color: #fff;
    background: #007f00;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0.4em;
    letter-spacing: 2px;
  }

  .culture-reviews-heading {
    display: inline;
    font-family: 'PT Sans';
    color: #fff;
    background: #5a008c;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0.4em;
    letter-spacing: 2px;
  }

  .movies-reviews, .tv-reviews, .music-reviews, .culture-reviews {
    width: 22.5%;
    float: left;
  }
  
  .movies-reviews {
    padding: 0 1% 0 2%
  }
  
  .tv-reviews {
    padding: 0 1% 0 1%
  }
  .music-reviews {
    padding: 0 1% 0 1%
  }
  /* .games-reviews {
    padding: 0 1% 0 1%
  } */
  .culture-reviews {
    padding: 0 2% 0 1%
  }

  .movies-reviews-first, .tv-reviews-first {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    margin-top: 20px;
  }

  .movies-reviews-second, .movies-reviews-third, .movies-reviews-fourth, .movies-reviews-fifth, .tv-reviews-second, .tv-reviews-third, .tv-reviews-fourth, .tv-reviews-fifth, .music-reviews-second, .music-reviews-third, .music-reviews-fourth, .music-reviews-fifth, .culture-reviews-first, .culture-reviews-second, .culture-reviews-third, .culture-reviews-fourth, .culture-reviews-fifth {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    margin-top: 10px;
  }

  .reviews-lists .post-category {
    font-size: 11px;
  }
  .reviews-lists .Hero-heading {
    font-size: 18px;
    line-height: 1.2;
  }
  .reviews-lists .post-byline {
    padding-bottom: 5px; 
  }

  /* Posts */

.post-header-container {
    height: 100%;
    max-width: 1100px;
  } 

.post-header-container h1 {
  font-size: 30px;
}

.post-header-container .post-byline {
  font-size: 18px;
}
/* .post-text-container {
  background: #fff;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
} */

  }
  