<div class="content">
    <div class="post-header-container">
        <div class="post-header-image" style="background-image: url('/images/header/articles/spiderman-image.png');">
        </div>
        <div class="Hero-headingContainer">
            <div class="post-category">
                <p class="cat-movies"><a href="/movies">movies</a></p>
            </div>
            <h1 class="Hero-heading">The Spider Inside the Man</h1>
            <p class="post-tease--post">He's giving all that he can.</p>
            <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
        </div>
    </div>
    <div class="post-text-container">  
        <div class="post-text">
            <p class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut neque in felis feugiat fringilla sit amet ac neque. Morbi metus est, tincidunt in lobortis at, ultrices in tortor. Vestibulum et bibendum purus. Aliquam cursus tellus et justo vulputate imperdiet. </p>
            <h2>Heading</h2>    
            <p>Ut hendrerit eget nunc ac pretium. Duis nec vestibulum felis, id accumsan dolor. Duis tempus ligula non erat ornare, sit amet mollis ipsum venenatis. Curabitur quis turpis eu diam porta auctor a eu ligula. In in lectus ut velit dictum luctus. Sed vitae leo sit amet ipsum efficitur pretium in vitae diam. Curabitur molestie fermentum dui in posuere. Aliquam libero ipsum, porttitor quis semper non, congue nec nulla. Nulla fermentum lectus eget dui pharetra, ut tincidunt orci eleifend.</p> 
            <p>Aliquam vehicula orci nibh, sed laoreet orci malesuada nec. Nullam sit amet laoreet tortor, ut venenatis tellus. Mauris at tellus ut justo vehicula rutrum. Aliquam id purus at urna lobortis euismod. In sed tellus rhoncus, scelerisque ante nec, varius arcu. Phasellus nec dictum nunc. Aenean vestibulum dui nibh, in fermentum nunc cursus in. Vestibulum velit magna, cursus vel porta at, porttitor non enim. Suspendisse laoreet vel risus at tempor. Phasellus sodales vel leo nec aliquet.</p> 
            <h2>Heading</h2>
            <p>Integer ac mi ac leo efficitur lobortis id a orci. Nam luctus sapien sem, in maximus libero vulputate et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin eu pellentesque lacus. Nunc at vehicula massa, nec sodales est. Nunc pretium ac enim eu condimentum. Maecenas porta dui id velit consectetur, a commodo massa bibendum. Morbi lectus justo, vestibulum sit amet aliquam nec, sodales vel turpis. Suspendisse ipsum nisi, facilisis eget nisi ut, convallis tempus quam. Sed ac malesuada sem. Etiam dictum magna ac accumsan eleifend. Duis metus neque, ultrices nec egestas quis, scelerisque ac risus.</p>
            <p>Sed justo massa, euismod vestibulum mauris et, rhoncus venenatis enim. Nulla finibus vel eros ac sagittis. Morbi ut turpis faucibus, consectetur augue ut, convallis massa. Praesent eu quam rhoncus, mattis turpis a, varius erat. Curabitur fermentum est sit amet fermentum feugiat. Donec vel mauris vel sapien venenatis facilisis eu ut nibh. Donec ultricies pharetra mi. Nullam sed malesuada elit. Donec sem nisi, hendrerit nec egestas sagittis, pulvinar et diam. Fusce ut metus purus. Duis tempus, mi ac porta aliquet, velit leo pulvinar orci, sit amet eleifend tortor sapien nec velit. Nam ullamcorper faucibus hendrerit. Quisque semper, mi rutrum laoreet porttitor, eros purus rhoncus felis, pellentesque mollis metus orci eget lacus. Phasellus feugiat nec tellus non eleifend.</p> 
            <h2>Heading</h2> 
            <p class="last-paragraph">Aliquam pulvinar sit amet erat eu egestas. Duis at lacus feugiat, finibus lacus eu, auctor elit. Nunc dictum libero ut magna lacinia hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia nisl sed magna convallis, sit amet cursus risus faucibus. Fusce sit amet ex eu ante sollicitudin faucibus. Maecenas at convallis lacus, sit amet efficitur elit.</p>
        </div>
    </div>
</div>