<div class="content">
    <div class="main-content" > 
        <<div class="Hero-image" style="background-image: url('../images/header/articles/spiderman-image.png');">
                    </div>
                    <div class="Hero-headingContainer">
                        <div class="post-category">
                            <p class="cat-movies"><a href="/movies">movies</a></p>
                        </div>
                        <h2 class="Hero-heading">The Spider Inside the Man</h2>
                        <p class="post-byline">By <a class="post-author" href="#">JK Johns</a> | <span class="post-date">Month 1, 2017</span></p>
                        <p class="post-tease">He's giving all that he can.</p>
                    </div>
    </div>
</div>